* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body  {
    min-height: 100vh;
    background: white;
    overflow-x: hidden;
    background-size: cover;
}

.nav {
    width: 250px;
    height: 100%;
    background-color: #24305E;
    position: fixed;
    transition: 0.5s;
}

.logo {
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 40px;
}

.logo h1 {
    color: white;
}

.list {
    width: 100%;
    height: 100%;
    padding-top: 20px;
}
.list ul {
    position: absolute;
    width: 100%;
}

.list ul li {
    position:relative;
    width: 100%;
    list-style: none;
}

.list ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.list ul li a span{
    padding-left: 20px;
}
.list ul li a:hover {
    background: white;
    color: black;
}

.list ul li a .title {
    height: 60px;
    display: block;
    line-height: 60px;
    text-align: start;
    position: relative;
    white-space: nowrap;
}

.list span {
    text-align: center;
}

.main-content {
    margin-left: 370px;
    width: 100%;
    height: 100vh;

}

.dash {
    font-size: 20px;
    width: 100%;
    height: 100px;
    padding-top: 20px;
        position: absolute;
}

.main {
    margin-top: 0px;
}

hr {
    margin-top: 10px;
    width: 1000px;
}

.cards {
    margin-top: 20px;
    width: 20%;
    height: 330px;
    overflow:hidden;
    background-color: lightseagreen;
    display: inline-block;
    margin-right: 100px;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 20%), 0 20px 20px 0 rgb(0 0 0 / 19%);
}

.image img{
    width: 100%;
    height: 210px;
    opacity: 0.9;
}

.card-title {
    text-align: center;
    padding: 4px;
    color:black;
}

.description {
    text-align: center;
    padding: 4px;
    color:black;
}

a {
    text-decoration: none;
}
.description p {
    font-size: 16px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 3px;
}

button:hover {
    background-color: coral;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid white;
}

img:hover {
    cursor: pointer;
    opacity: 1;

}