* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

body  {
    background: white;
    background-repeat: inherit;
 background-color:#dce4e6;


}

.nav {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #24305E;
    position: fixed;
    height: 100%;
    overflow: auto;
    transition: 0.5s;
  }

.logo {
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 25px;
}

.logo h1 {
    color: white;
}

.logo a {
    text-decoration: none;
}

.list a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.list a.active {
    background-color: #04AA6D;
    color: white;
}

.list a:hover {
    background: #04AA6D;
    color: white;
}

.main-content {
    margin-left: 320px;
    /* width: 100%; */
    padding: 1px 16px;
    height: 100vh;
}

.dash {
    font-size: 20px;
    width: 100%;
    height: 100px;
    padding-top: 20px;
}

.main {
    margin-top: 0px;
}


.cards {
    margin-top: 20px;
    width: 25%;
    height: 330px;
    overflow:hidden;
    background-color: lightseagreen;
    display: inline-block;
    margin-right: 100px;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 20%), 0 20px 20px 0 rgb(0 0 0 / 19%);
}

.image img{
    width: 100%;
    height: 210px;
    opacity: 0.9;
}

.card-title {
    text-align: center;
    padding: 4px;
    color:black;
}

.description {
    text-align: center;
    padding: 4px;
    color:black;
}

a {
    text-decoration: none;
}
.description p {
    font-size: 16px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 3px;
}

button:hover {
    background-color: coral;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    border: 1px solid white;
}

img:hover {
    cursor: pointer;
    opacity: 1;

}

@media screen and (max-width: 700px) {
    .nav {
      width: 100%;
      height: auto;
      position: relative;
    }

    .nav a {
        float: left;
    }

    div.main-content {
        margin-left: 0;
    }
  .cards{
        width:70vw;
    }

  }


@media screen and (max-width: 400px) {
    .nav a {
      text-align: center;
      float: none;
    }
    .cards{
        width:70vw;
    }
  }

